* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}
body {
    background-color: rgb(236, 239, 239);
}
nav {
    width: 100%;
    background-color: rgb(236, 239, 239);
    padding: 1.6rem;
    box-shadow: 1px 1px 15rem 1px black;
}

ul {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

li {
    list-style: none;
}
li a {
    text-decoration:none;
    color: rgb(18, 1, 1);
    font-size: 1.9rem;
}
.flipcol {
    color: #8b13f4;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
    margin: 21rem;
}

button {
    background-color: #0F5248;
    color: white;
    padding: 1.2rem;
    border: none;
    border-radius: 0.9rem;
    font-size: 1.2rem;
    cursor: pointer;
    width: 17%;
    margin-top:1.9rem;
    transform: scale(1.1);
    transition: 0.9s;
}
button:hover {
    background-color: white;
    color:#0F5248;
    border: 1px solid #0F5248;
}
h1 {
    background-color: black;
    width: 37%;
    color: whitesmoke;
    font-size: 1.9rem;
    padding: 1.9rem;
    border-radius: 0.3rem;
    text-align: center;
}
#color-name {
    color: #00ffd9;
    font-size: 1.9rem;
}